body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.header .container p {
    color: #fff;
    text-shadow: 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000;
    font-size: 50px;
}

.navBar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navBar a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000, 0em 0em 0.2em #ff0000;
}

.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.banner {
    margin: auto;
    background-image: url(../assets/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner p {
    font-size: 36px;
    background-color: black;
    color: #fff;
    box-shadow: .6em 0 0 #000;
    animation: digitando 1.5s;
}

@keyframes digitando {
    
}

.banner span {
    font-weight: 800;
}

.social {
    display: flex;
}

.social .boxes {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
}

.social .container {
    display: flex;
    justify-content: center;
}

.box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.box p {
    color: #fff;
}


.box i {
    color: #fff;
}

.box b {
    color: #fff;
}

.box h2 {
    color: #fff;
    text-shadow: 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b, 0em 0em 0.2em #8b008b;
    font-size: 19px;
}

.box i b {
    position: absolute;
}

.alinhamento {
    display: flex;
    align-items: baseline;
}

.footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer i {
    color: #fff;
}


.main .boxDados {
    display: flex;
    justify-content: center;
    
}